.about {
  display: flex;
  flex-direction: column;
  height: 80vh;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  padding: 4rem;
}
.about .heading {
  margin-bottom: 2rem;
}
.about .text-container {
  animation: about-display 2s;
}
.view-works {
  font-weight: 800;
  color: #fff;
  border: none;
  font-family: "Poppins";
  background-color: #213f7d;

  box-shadow: 0px 0px 2px rgb(76, 77, 77);
  text-shadow: 2px 1px 5px rgb(76, 77, 77);
  padding: 0.5rem 1rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1.1rem;
  animation: viewWorks 5s;
}
.sorry {
  margin-top: 1rem;
  font-size: 0.8rem;
}
.view-container {
  width: 100%;
  display: flex;
  margin-top: 2em;
  justify-content: flex-end;
}

@keyframes about-display {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes viewWorks {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@media screen and (max-width: 600px) {
  h1.heading {
    font-size: 1.9rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 559px) {
  .about {
    margin-top: 170px;
    margin-bottom: 170px;
  }
  h1.heading {
    font-size: 1.9rem;
  }
}
