.home {
  display: flex;
  flex-direction: column;
  font-family: "Poppins";
  height: 80vh;
  justify-content: center;
  align-items: center;
  color: #213f7d;
  font-size: 1.1rem;
  overflow: hidden;
}
.home-intro {
  animation: display 3s;
}
.first {
  text-align: center;
}
.skills {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  animation: skills 3s;
}
.skills img {
  width: 30px;
}
.dot {
  font-size: 3rem;
  animation: dot 2s;
}

@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes skills {
  0% {
    transform: translateY(200px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes dot {
  0% {
    transform: translateY(200px);
  }
  40% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(200px);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
@media screen and (max-width: 600px) {
  .skills {
    max-width: 339px;
    margin: 1em auto;
    flex-wrap: wrap;
  }
}
